<%- include('../partials/header') %>


<div style="width: 60%;
margin: 4rem auto;
padding: 2rem;
outline: 8px solid royalblue;">
    <h2 style="font-weight: 600;
    padding-bottom: 2rem;"><%= qbody[0].topic %> </h2>   
    <i class="user-pic fa fa-user-circle fa-2x"></i>
    <div class="feed-row-1">
      <div style="font-weight: 400;" class="user-info">
        <p><%= qbody[0].name %></p>
        <p><%= qbody[0].current %> , <%= qbody[0].description %></p>
      </div> 
    </div>
    <div class="answer-post">
      <div class="expandable">
        <p style="font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8;
        color: #4e5863;" class="answer"><%= qbody[0].body %>
        </p>
      </div>
    </div>   
  </div>
  </div>
</div>

<div style="margin-left: 20%;">
   <h2 class="question" >ANSWERS </h2>   
</div>



<%  for(var i = 0 ; i < body.length ; i++) { %>



<div style="width: 60%;
margin: 4rem auto;
padding: 2rem;
outline: 8px solid royalblue;">
    <i class="user-pic fa fa-user-circle fa-2x"></i>
    <div class="feed-row-1">
      <div style="font-weight: 400;" class="user-info">
        <p><%= body[i].name %></p>
        <p><%= body[i].current %> , <%= body[i].description %></p>
      </div> 
      <div class="thumbs">
        <i style="padding:0 0.5rem; color: #00FF00;" class="thumbs-up fas fa-thumbs-up fa-2x"></i>
        <i style="padding:0 0.5rem; color: red;" class="thumbs-down fas fa-thumbs-down fa-2x"></i>
      </div>
    </div>
    <div class="answer-post">
      <div class="expandable">
        <p class="answer">
            <p class="answer"><%= body[i].body %>
        </p>
      </div>
    </div>   
  </div>
  </div>
</div>



<%  } %>





<% var ch = "/answer/" + link  %>

<div style="width: 60%;
margin: 4rem auto;
padding: 2rem;">
<form action= <%= ch %>  method="POST">
    <textarea class="form-control" id="message" name="body" rows="12" placeholder="Answer this Question"></textarea>
    <div style="margin: 20px;">	
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>
</div>


<script src="js/jQuery.js"></script>

<script src="js/jquery.expander.js"></script>

<script src="js/forum.js"></script>

    

<%- include('../partials/footer') %>
