<%- include('../partials/header') %>



<div class="row justify-content-center" style="width: 100%;">
  <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
              <div class="col-auto">
                <i class="fas fa-search fa-2x"></i>
              </div>
              <!--end of col-->
              <div class="col">
                  <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search your query">
              </div>
              <!--end of col-->
              <div class="col-auto">
                  <button class="btn btn-lg btn-primary" type="submit">Search</button>
              </div>
              <!--end of col-->
          </div>
      </form>
  </div>
  <!--end of col-->
</div>

<div class="forum">

  <h2 class="feed-heading">Your Feed</h2>

  <%  for(var i = 0 ; i < body.length ; i++) { %>

    <% var ch = "answer/" + body[i]._id  %>

    <div class="feed-content">
    <a href= <%= ch %>  >
    <h2 class="question"><%= body[i].topic %> </h2>   
  </a>
    <i class="user-pic fa fa-user-circle fa-2x"></i>
    <div class="feed-row-1">
      <div class="user-info">
        <p><%= body[i].name %></p>
        <p><%= body[i].current %> , <%= body[i].description %></p>
      </div> 
    </div>
    <div class="answer-post">
      <p class="answer"><%= body[i].body %>
      </p>  
    </div>    
  </div>
  <div style="margin-bottom: 80px;">
    <hr class="dotted-hr">            
  </div>

<%  } %>

<script src="js/jQuery.js"></script>

<script src="js/jquery.expander.js"></script>

<script src="js/forum.js"></script>

<%- include('../partials/footer') %>
  